{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
<div class="row">
  <div class="col-md-10">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Clientes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar cliente</li>
      </ol>
    </nav>
  </div>
</div>
    <div class="card">
      <div class=".card-body">
        <form action="" method="post">
         
          {% csrf_token %} 
          <div class="form-group">
            <label for="">CNPJ</label>
            <input type="text" class="form-control form-control-sm" name="cnpj" value="{{values.cnpj}}">
          </div>
          <div class="form-group">
            <label for="">Razão Social</label>
            <input type="text" class="form-control form-control-sm" name="razao_social" value="{{values.razao_social}}">
          </div>
          <div class="form-group">
            <label for="">Contato</label>
            <input type="text" class="form-control form-control-sm" name="name" value="{{values.name}}">
          </div>
          <div class="form-group">
            <label for="">WhatsApp</label>
            <input type="text" class="form-control form-control-sm" name="number" value="{{values.number}}">
          </div>
          <div class="form-group">
            <label for="">Última venda</label>
            <input type="date" class="form-control form-control-sm" name="date_lastsell" value="{{values.date_lastsell}}">
          </div>
          <input type="submit" value="Salvar" class="btn btn-primary btn-primary-sm">
        </form>
      </div>
    </div>

</div>


{% endblock %}

